<!-- Header -->
<nav>
  <div class="logo">
    <span>
      <strong class="brand">Online Trading</strong>
    </span>
  </div>
  <hr>
  <div class="nav-items">
    <a routerLink='/login'><strong>Log in</strong></a>
  </div>
  <hr>  
</nav>

<p *ngIf="successMessage" class="m-auto">
  {{successMessage}}
  <span>Please <a routerLink='/login'>Log in</a> </span>
</p>
<p *ngIf="errorMessage && !successMessage">{{errorMessage}}</p>

<div *ngIf="!successMessage"class="container mt-3">
  <form [formGroup]="user" (ngSubmit)="onSubmit(user)">
    <div class="form-group row ">
      <label for="userId" class="col-md-3">User Id:</label>
      <input type="text" class="form-control col-md-7" formControlName="userId" id="userId">
      <span *ngIf="isValid('userId')">User Id is required.</span>
    </div>
    <div class="form-group row ">
      <label for="userName" class="col-md-3">User Name:</label>
      <input type="text" class="form-control col-md-7" formControlName="userName" id="userName">
      <span *ngIf="isValid('userName')">User Name is required.</span>
    </div>
    <div class="form-group row ">
      <label for="password" class="col-md-3">Password:</label>
      <input type="password" class="form-control col-md-7" formControlName="password" id="password">
      <span *ngIf="isValid('password')">Password should be grater than 6 characters.</span>
    </div>
    <div class="form-group row ">
      <label for="verifyPassword" class="col-md-3">Verify Password:</label>
      <input type="password" class="form-control col-md-7" formControlName="verifyPassword" id="verifyPassword">
      <span *ngIf="isValid('verifyPassword')">Password should match.</span>
    </div>
    <div class="form-group row ">
      <label for="email" class="col-md-3">Email:</label>
      <input type="email" class="form-control col-md-7" formControlName="email" id="email">
      <span *ngIf="isValid('email')">Please enter a valid email id.</span>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
          <button [disabled]="!user.valid" type="submit" class="btn btn-success">Register</button>
          <span class="ml-3"> or click to <a routerLink='/login'>Log in</a> </span>
      </div>   
    </div>
  </form>
</div>
