<nav>
    <div class="logo">
      <a routerLink="/home">
        <strong class="brand">Online Trading</strong>
      </a>
    </div>
    <hr>
  
    <div class="nav-items">
      <a routerLink='/buy'><strong>Buy</strong></a>
    </div>
    <hr>
    <div class="nav-items">
      <a routerLink='/sell'><strong>Sell</strong></a>
    </div>
    <hr>
    <div class="nav-items">
      <a routerLink='/order'><strong>Orders</strong></a>
    </div>
    <hr>
    <div class="nav-items">
      <a routerLink='/trades'><strong>Trades</strong></a>
    </div>
    <hr>
  
    <div class="nav-user">
      <div>Welcome <span style="color:darkorange">{{user}}</span></div>
      <button class="btn btn-success btn-sm" (click)="logout()"><strong>Log out</strong></button>
    </div>
      <hr>
  </nav>
